* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    margin: 80px auto;
    max-width: 400px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input {
    width: 100%;
    display: block;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

button {
    display: block;
    padding: 8px;
    margin: 8px 0px;
    width: 100%;
    background-color: purple;
    border: 0px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(75, 0, 75);
}

#error {
    color: rgb(99, 3, 3);
    background-color: #b83f3f86;
    padding: 10px;
    margin-top: 20px;
    display: none;
}

#errormensage {
    font-size: 11px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 50px;
    display: none;
}

#success {
    color: rgb(0, 82, 37);
    background-color: #3fb87586;
    padding: 10px;
    margin-top: 20px;
    display: none;
}